node_modules
dist
.turbo
.vscode/**/*
!.vscode/settings.example.json
!.vscode/launch.example.json
.idea
.
.catalyst
.env
.env*.local
.env*.test
test-results/
playwright-report/
playwright/.cache/
.tests
bigcommerce.graphql
bigcommerce-graphql.d.ts
.DS_Store
coverage/
.history
.unlighthouse
.bigcommerce
.vercel

.vercel/
