@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@alto-avios/alto-tokens/web-ssr/avios/light.css');
@import url('@alto-avios/alto-tokens/web-ssr/avios/dark.css');
@import url('@alto-avios/alto-tokens/web-ssr/avios/fonts.css');

/* TO REMOVE */
:root {
  --primary: 96 100% 68%;
  --background: 0 0% 100%;
  --foreground: 0 0% 7%;
  --error: 0 100% 60%;
  --contrast-100: 0 0% 93%;
  --contrast-200: 0 0% 82%;
  --contrast-300: 0 0% 70%;
  --contrast-400: 0 0% 54%;
  --contrast-500: 0 0% 34%;
}
