@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--blue-primary: theme('colors.blue.primary');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: Inter, sans-serif;
}

.custom-text ul { 
  list-style-type: disc;
  list-style-position: initial !important;
  padding-left: 20px;
}

.custom-text ol { 
  list-style-type: decimal;
  list-style-position: initial !important;
  padding-left: 20px;
}

.custom-text ul ul, .custom-text ol ul { 
  list-style-type: circle;
  list-style-position: initial !important;
  padding-left: 20px;
}

.custom-text ol ol, .custom-text ul ol { 
  list-style-type: lower-latin;
  list-style-position: initial !important; 
  padding-left: 20px;
}
