name: Prevent invalid packages for Changesets

on:
  pull_request:
    branches:
      - integrations/makeswift

jobs:
  validate-changesets:
    runs-on: ubuntu-latest
    name: Validate Changeset Packages
    steps:
      - name: Checkout PR code
        uses: actions/checkout@v4

      - name: Get changed .changeset files
        id: changed
        run: |
          files=$(git diff --name-only origin/${{ github.base_ref }}...HEAD | grep '^\.changeset/.*\.md$' || true)
          echo "files<<EOF" >> $GITHUB_OUTPUT
          echo "$files" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Validate changesets only target @bigcommerce/catalyst-makeswift
        if: steps.changed.outputs.files != ''
        run: |
          echo "${{ steps.changed.outputs.files }}" | while read file; do
            echo "Checking $file..."

            frontmatter=$(awk '/^---/{if (++count == 2) exit; next} count==1' "$file")

            # fails the check if it finds a changeset file with frontmatter containing a package that is not "@bigcommerce/catalyst-makeswift"
            echo "$frontmatter" | grep -Eo '"@bigcommerce/[^"]+"' | grep -v '"@bigcommerce/catalyst-makeswift"' && {
              echo "::error file=$file::Invalid package found in changeset file. Only @bigcommerce/catalyst-makeswift is allowed."
              exit 1
            }
          done
